<div class="texto">
  <h1>Região</h1>
  <p><%= link_to'Norte'%></p>
  <p>Nordeste</p>
  <p>Centro</p>
  <p>Oeste</p>
  <p>Sudeste</p>
  <p>Sul</p>
</div>
<div class="texto">
  <h1>Estados</h1>
  <p>Acre Amazonas Amapá Pará Rondônia Roraima Tocantins</p>
</div>
    <%= render "pages/mapa" %>
