
<div class="texto">
  <h1>Região</h1>
  <button id="teste"><%= link_to 'Norte', norte_path %></button>
  <button id="teste">Nordeste</button>
  <button id="teste">Centro</button>
  <button id="teste">Oeste</button>
  <button id="teste">Sudeste</button>
  <button id="teste">Sul</button>
</div>
<div class="texto">
  <h1>Estados</h1>
  <p>Acre Amazonas Amapá Pará Rondônia Roraima Tocantins</p>
</div>
    <%= render "pages/mapa" %>
