<%= @ritmo.nome %>
<h1>Região</h1>
<p>Estado</p>

<%= image_tag "mapa_norte.png", alt: "Mapa", width: 200 %>

<h1>"Rocha!Égua!"</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi libero expedita voluptatibus nisi facere dolore eveniet distinctio fuga! Molestias illo a sunt facilis voluptates labore repellat numquam esse corrupti tempore.</p>

<button>Material de estudo</button>
