<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('mapa_norte.png') %>)">
    <h1><%= @estado.nome %></h1>
  </div>
    <span class="movie-tag"><%= pluralize(@estado.ritmos.size, 'ritmos') %></span>
</div>
