<div class="texto">
  <h1>Região</h1>
  <p><%= link_to'Norte'%></p>
  <p>Nordeste</p>
  <p>Centro</p>
  <p>Oeste</p>
  <p>Sudeste</p>
  <p>Sul</p>
</div>
<div class="texto">
  <h1>Acre</h1>
</div>
<% @acre.each do |rit| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/portrait-of-a-smiling-beautiful-boy-listening-music-with-headphones-picture-id1356532153)">
    <div>
        <%= rit.nome %>
    </div>
  </div>
<% end %>
